/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* #006dfe hsl(214deg, 100%, 60%); */
  --ifm-color-primary: hsl(214deg, 100%, 60%);

  --ifm-color-primary-dark: #119cc5;
  --ifm-color-primary-darker: #05879d;
  --ifm-color-primary-darkest: #007a87;
  --ifm-color-primary-light: hsl(214deg, 100%, 75%);
  --ifm-color-primary-lighter: #c6ebfc;
  --ifm-color-primary-lightest: #f2fbff;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Raleway", "PingFang SC", "Microsoft Yahei",
    sans-serif;
  /* --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", monospace; */
  --ifm-heading-font-family: "Raleway", "PingFang SC", "Microsoft Yahei",
    sans-serif;
  /* --content-font-family: "Raleway", "Kai", "楷体", "Kaiti", serif; */

  --ifm-navbar-shadow: 0px 4px 28px rgba(0, 0, 0, 0.1);
  --ifm-toc-border-color: #f7f7f7;
  --text-color: #2b333e;
  /* --ifm-heading-color: hsl(200deg, 20%, 20%); */

  --ifm-menu-color: #0d203a;

  /* 搜索框 */
  --search-local-modal-background: hsl(0deg, 0%, 100%);
  --search-local-modal-shadow: 0px 0px 48px hsl(0deg, 0%, 0%, 0.12);

  /* 进度条背景 */
  --progress-bar-background-color: #f3f3f3;

  /* 卡片背景 */
  --card-background: #ffffff;

  /* 选中未选中 */
  --btn-selected: var(--ifm-color-primary);
  --btn-unselected: #cecece;

}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  box-shadow: none;
}

.navbar__logo img{
  border-radius: 50%;
  margin-left: 10px;
}

.navbar__title{
  color: var(--ifm-color-primary);
  margin-left: 20px;
}

